<div class="row">
  <div class="container">

    <div class="about-info-holder">
      <h1>About Soundbolt</h1>

      <p>
        Soundbolt is a non-commercialized clone site of SoundCloud.
        It is designed by Raymond Gao and is intended to serve as the capstone project for the final stage of App Academy.
      </p>

      <p>
        The site borrows numerous concepts from the actual SoundCloud, but also has extended visual and interactive features that provide user with a different musical experience.
      </p>

      <p>
        If you are interested in any features you see on the site. You can find the source code at this Github repo.<br>
        <a href="https://github.com/Razynoir/soundbolt" alt="Link unavailable">Soundbolt Source</a>
      </p>

      <p>
        Or if you are interested in contacting me directly, please email qg231@nyu.edu.
      </p>
    </div>
  </div>
</div>

<script>
  $("#soundbolt-focus-master").css('display', 'none');
  $("#soundbolt-modal-field-master").css('display', 'none');
</script>
