<nav class="navbar navbar-default navbar-fixed-top title-navbar">
  <div class="container title-container">
    <div class="navbar-header">
      <div class="title-elements"><a href="#" class="elegent-link"><strong>SoundBolt</strong></a></div>
    </div>

    <div class="nav navbar-nav navbar-right">
      <div class="title-elements title-small"><a href="#" class="elegent-link">About</a></div>
      <div class="title-elements title-small"><a href="#" class="elegent-link">Support</a></div>
      <div class="title-elements title-small"><a href="#" class="elegent-link">Sign Up</a></div>
    </div>
  </div>
</nav>
<div class="navbar-buffer"></div>

<div class="jumbotron sign-in-jumbo">
  <div class="container">
    <div class="sign-in-jumbo-content">
      <h1>A Cloud Streaming Service</h1>
      <h2>With Lightening Inspiration</h2>


      <div class="sign-in-form-field">
        <form class="form-group sign-in-form">
          <h2>Sign in to your Account</h2>
          <br>
          <label for="username_field"><h4>Username</h4></label>
          <input type="text" class="form-control" id="username_field">

          <label for="password_field"><h4>Password</h4></label>
          <input type="password" class="form-control" id="password_field">

          <br>
          <input type="submit" value="Sign in" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron info-jumbo-first">
  <div class="container">
    <div class="title-info-content">
      <h1>Classics and Hips Alike</h1>
      <br>
      <br>
      <p>SoundBolt is the hub for a diverse pull of artists and creators. Here, no matter if you're into classics or hip hops, you can always find your place.</p>
      <br>
      <p>Most of our contents come from artists who believe in the open source culture and eco-system. Here, you can find like-minded people and engage in deep conversations ranging from music concert to music philosophy.</p>
    </div>
  </div>
</div>

<div class="jumbotron info-jumbo-second">
  <div class="container">
    <div class="title-info-content">
      <h1>Join the Creative Vibe</h1>
      <br>
      <br>
      <p>We are a direct extension of the music community in large. Join us and create contents that can be used to power videos, movies, advertisements and other multimedia sources. Be a part of the creative vibe and start expressing.</p>
      <br>
      <p>Create an account today and follow your favorite artist. You can also interact with their music in real time and express your opinions on tracks that you like.</p>
    </div>
  </div>
</div>
