<nav class="navbar navbar-default navbar-fixed-top title-navbar">
  <div class="container title-container">
    <div class="navbar-header">
      <div class="title-elements"><a href="#" class="elegent-link"><strong>SoundBolt</strong></a></div>
    </div>

    <div class="nav navbar-nav navbar-right">
      <div class="title-elements title-small"><a href="#" class="elegent-link">About</a></div>
      <div class="title-elements title-small"><a href="#" class="elegent-link">Support</a></div>
      <div class="title-elements title-small"><a href="#" class="elegent-link">Sign Up</a></div>
    </div>
  </div>
</nav>
<div class="navbar-buffer"></div>

<div class="jumbotron">
  <div class="container">
    <h2>Lightening Inspiration</h2>
  </div>
</div>
