<div class="row">
  <div class="container">

    <div class="about-info-holder">
      <h1>Support Unavailable Notice</h1>

      <p>
        Soundbolt is a student project. Please be advised that any customer support is well beyond the financial power of the site owner X(.
      </p>

      <p>
        If possible, please forward your concern in the form of a Github issue. The source code is in this repo.<br>
        <a href="https://github.com/Razynoir/soundbolt" alt="Link unavailable">Soundbolt Source</a>
      </p>

      <p>
        Or if you are more comfortable contacting me directly, please email me at qg231@nyu.edu.
      </p>
    </div>
  </div>
</div>

<script>
  $("#soundbolt-focus-master").css('display', 'none');
  $("#soundbolt-modal-field-master").css('display', 'none');
</script>
