<div class="row">
  <div class="container">

    <div class="about-info-holder">


      <h1>Support Unavailable Notice</h1>

      <p>
        Soundbolt is a student project. Please be advised that any customer support is well beyond the financial power of the site owner X(.
      </p>

      <p>
        If possible, you can forward your concern in the form of Github issue. The repo address is in the About page.
      </p>

    </div>
  </div>
</div>
