<div class="sign-up-form-field">
  <form action="<%= users_url %>" class="form-group" method="post" enctype="multipart/form-data">
    <%= insert_authenticity_token %>
    <h3>Sign up for an Account</h3>

    <br>

    <label for="email_field">Email</label>
    <input type="text" name="user[email]"
           class="form-control" id="email_field" value="<%= @user.email %>">

    <br>

    <label for="password_field">Password</label>
    <input type="password" name="user[password]"
           class="form-control" id="password_field">

    <br>

    <label for="password_confirm_field">Confirm Password</label>
    <input type="password" name="user[confirm]"
          class="form-control" id="password_confirm_field">

    <hr>

    <label for="username_field">Choose A Username</label>
    <input type="text" name="user[username]"
          class="form-control" id="username_field" value="<%= @user.username %>">

    <br>

    <input type="filepicker" name="user[image_url]" data-fp-button-text="Choose Profile Picture"
           data-fp-mimetype="image/*" data-fp-services="COMPUTER, CONVERT" data-fp-crop-force="true"
           data-fp-crop-ratio="1">

    <br>
    <br>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>

<script>
  $("#soundbolt-focus-master").css('display', 'none');
  $("#soundbolt-modal-field-master").css('display', 'none');
</script>
