<div class="sign-up-form-field">
  <form class="form-group">
    <h3>Sign up for an Account</h3>

    <br>

    <label for="email_field">Email</label>
    <input type="text" name="user[email]"
           class="form-control" id="email_field">

    <br>

    <label for="password_field">Password</label>
    <input type="password" name="user[password]"
           class="form-control" id="password_field">

    <br>

    <label for="password_confirm_field">Confirm Password</label>
    <input type="password" name="user[confirm]"
          class="form-control" id="password_confirm_field">

    <br>

    <label for="avatar_field">Upload a Profile Picture</label>
    <input type="file" name="user[avatar]"
           id="avatar_field">

    <br>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
