<h1>User's home page</h1>

<div class="user-view-focus-master">
  This is the user-view-focus-master

  <section class="user-view-focus-specialzone">
    This is the user-view-focus-specialzone
  </section>

  <section class="user-view-focus-wavezone">
    This is the user-view-focus-wavezone
  </section>

  <section class="user-view-focus-commentzone">
    This is the user-view-focus-commentzone
  </section>

</div>

<script>
  $(function(){
    Backbone.history.navigate("home", {trigger: true});
  })
</script>
