<h1>User's home page</h1>

<div class="user-view-normal-master">

  <section class="user-view-normal-sidebar">
  </section>

  <section class="user-view-normal-trackfield">
  </section>


</div>

<div class="user-view-focus-master">
</div>
