/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$violet: #7301a0;
$violetDark: #510170;
$violetDarker: #21002E;
$violetLight: #B401FA;

$pink: #BB0079;
$pinkDark: #830055;
$pinkDarker: #350023;
$pinkLight: #FC00A4;

$green: #A2E400;
$greenDark: #72A000;
$greenDarker: #2E4100;
$greenLight: #B5FE00;

$yellow: #E3EF00;
$yellowDark: #9FA800;
$yellowDarker: #414400;
$yellowLight: #F2FF00;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  background-color: black;
}

.title-navbar{
  background: $violet;
  height: 80px;
  font-size: 36px;
}

.title-elements{
  color: white;
  bottom: 10px;
  padding: 15px 0px 10px 0px
}

.title-small{
  font-size: 18px;
  bottom: 10px;
  padding: 30px 0px 10px 0px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.title-container{
  height: 80px;
  position: relative;
}

.navbar-buffer{
  height: 80px;
  display: block;
  width: 100%;
}

.elegent-link{
  color: white;
  text-decoration: none;
}

.elegent-link:hover {
  color: $yellowLight;
  text-decoration: none;
}

.sign-in-jumbo{
  background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-1.jpg");
}

.sign-in-jumbo-content{
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  width: 900px;
  color: white;
  text-align: center;
}

.sign-in-form-field{
  background: black;
  opacity: 0.8;
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.sign-in-form{
  color: white;
  opacity: 1;
  margin: 0 auto;
  width: 400px;
  padding: 50px;
}

.sign-in-form .btn-primary{
  background-color: $violetDark;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid white;
}

.title-info-content{
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 30px 0px 0px 0px;
  width: 900px;
  color: white;
}

.info-jumbo-first {
  text-align: left;
  background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-2.jpg");
}

.info-jumbo-second {
  text-align: right;
  background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-3.jpg");
}

.jumbotron{
  margin: 0;
}
