/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html{
  height: 100%;
  width: 100%;
}

body {
  // font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  background-color: black;
  position: relative;
}

#soundbolt-player-master{
  z-index: 999;
}

textarea {
  resize: none;
}

.title-navbar{
  z-index: 999;
  font-size: 36px;
  border: 0px;
}

.title-elements{
  color: white;
  bottom: 10px;
  padding: 15px 0px 10px 0px
}

.title-small{
  font-size: 18px;
  bottom: 10px;
  padding: 30px 0px 10px 0px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.title-container{
  height: 80px;
  position: relative;
}

.navbar-buffer{
  height: 75px;
  display: inline-block;
  width: 100%;
}

.navbar-foot-buffer{
  height: 100px;
  display: block;
  width: 100%;
}

.elegant-link{
  color: white;
  text-decoration: none;
}

.elegant-link:hover {
  color: white;
  text-decoration: none;
}

.sign-in-jumbo{
  // background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-1.jpg");
  background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-2.jpg");
}

.sign-in-jumbo-content{
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  width: 900px;
  color: white;
  text-align: center;
}

.sign-in-form-field{
  background: black;
  opacity: 0.8;
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.sign-in-form{
  margin: 0 auto;
  width: 400px;
  padding: 50px;
}

.sign-in-form > input{
  text-align: center;
}

.sign-in-form .btn-primary{
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid white;
}

.title-info-content{
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 30px 0px 0px 0px;
  width: 900px;
  color: white;
}

.info-jumbo-first {
  text-align: left;
  background: black;
}

.info-jumbo-second {
  text-align: right;
  background-image: url("https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/title-pic-1.jpg");
}

.jumbotron{
  margin: 0;
}

// Player CSS

#focus-mode-switch {
  right: 0;
  position: absolute;
}
