// FOCUS MASTER
.user-view-focus-master{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 2000px;
  background: black;
  z-index: 777;
}

// FOCUS TOP
.user-view-focus-top {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
}

#focus-top-canvas {
  width: 100%;
  height: 100%;
}

// FOCUS MIDDLE
.user-view-focus-middle {
  text-align: center;
  position: relative;
}

.user-view-focus-middle-info{
  padding: 20px;
  background: black;
  color: white;
}

.user-view-focus-middle-showzone{
  position: relative;
  color: white;
  margin: 0 auto;
  display: block;
  background: black;
  margin-top: 50px;
  margin-bottom: 50px;

  width: 1200px;
  height: 325px;
  opacity: 0.9;
}



// FOCUS COMMENTS
.user-view-focus-comment-section {
  color: white;
  position: relative;
}

.user-view-focus-comment-section > h1 {
  text-align: center;
}

#new-comment-button{
  display: inline-block;
}

#comment-info-panel{
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

.all-comment-table{
  color: black;
}

.all-comment-table > thead {
  color: white;
}
