
#soundbolt-modal-field-master{
  position: absolute;
  width: 100%;
  height: 100%;
}

.user-info-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2000;
}

.user-info-popout-panel{
  margin: 0 auto;
  margin-top: 100px; // RAZYNOIR-INCOMPLETE: not dynamic top distance.
  height: inherit;
  width: 700px;
  background-color: white;
  opacity: 1;
}

.user-modal-stuff-container{
  text-align: center;
  margin: 0 auto;
  position: relative;
  // border: 3px solid black;
  width: 95%;
  height: 95%;
  padding-top: 75px;
}

.user-modal-img{
  position: relative;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

#modal-follow-user{
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-stats{
  padding-top: 15px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
}

.modal-stats > .modal-stat-item:first-child{
  border-right: 1px dotted black;
}

.modal-stats > .modal-stat-item:last-child{
  border-left: 1px dotted black;
}

#modal-track-table{
  border-top: 3px solid black;
}

#modal-track-switch{
  font-size: 14px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  height: inherit;
  width: inherit;
  border: 0px;
}

#modal-close-button{
  position: absolute;
  left: 15px;
  top: 15px;
}

#modal-track-table > marquee {
  width: 100px;
  display: inline;
}















// sdf
