#player-master-audio {
	display: none;
}

#audio-seeking-control {
	width: 300px;
	height: 20px;
	background: #4200f7;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	border-radius: 20px;
}

#player-master-inner-progress {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 255, 196, 0.82);
}
