.clickable{
  color: black;
}

.clickable:visited,
.clickable:active,
.clickable:link,
.clickable:focus,
{
  color: black;
  text-decoration: none;
}

.clickable:hover{
  cursor: pointer;
  color: teal;
  text-decoration: none;
}

.clickable-white{
  color: white;
}

.clickable-white:visited,
.clickable-white:active,
.clickable-white:link,
.clickable-white:focus,
{
  color: white;
  text-decoration: none;
}

.clickable-white:hover{
  cursor: pointer;
  color: #2F4F4F;
  text-decoration: none;
}


.clickable-white-inner{
  color: white;
}

.clickable-white-inner:visited,
.clickable-white-inner:active,
.clickable-white-inner:link,
.clickable-white-inner:focus,
{
  color: white;
  text-decoration: none;
}

.clickable-white-inner:hover{
  cursor: pointer;
  color: white;
  text-decoration: none;
}
