// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-form-field{
  color: white;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

// User Show Page SideBar CSS

.user-view-normal-sidebar{
  height: inherit;
  position: absolute;
  width: inherit;
  background: white;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 10px;
  opacity: 0.95;
}

.sidebar-username{
  margin-left: 20px;
  font-weight: bolder;
}

.sidebar-useremail{
  margin-left: 20px;
}

.user-sidebar-img{
  // position: static;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 0px;
}

.sidebar-link{
  border-radius: 10px;
  margin: 25px;
}

.elegent-link-sidebar{
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.elegent-link-sidebar:hover{
  color: #72A000; //greenDark
  text-decoration: none;
}

// User Show Page TrackField CSS

.user-view-normal-trackfield{
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  height: inherit;
  width: inherit;
}

// User Show Page TrackTab CSS
.track-tab-img{
  top: 40px;
  left: 40px;
  position: absolute;
  height: 75px;
  width: 75px;
}

.field-tab-subinfo-tags{
  display: inline-block;
  width: 150px;
  height: 30px;
  background: black;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.track-tab-header{
  font-weight: bolder;
  margin-left: 125px;
}

.track-tab-paragraph{
  margin-left: 125px;
}

.track-tab > .btn{
  position: absolute;
  right: 50px;
  top: 40px;
}

.track-tab{
  position: relative;
  background: white;
  height: inherit;
  width: 800px;
  // height: 175px;
  margin: 10px;
}

.track-tab-waveform{
  border: 1px solid black;
  width: 680px;
  height: 75px;
}

.track-switch{
  opacity: 0;
}

// USER SHOW NEW TRACK CSS

.new-track-form-field{
  height: inherit;
}

.new-track-form {
  margin: 50px;
}

// USER EXPLORE CSS
#see-user-info{
  right: 225px;
}
