// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-form-field{
  color: white;
  width: 45%;
  margin: 0 auto;
}

// User Show Page SideBar CSS

.user-view-normal-sidebar{
  border-radius: 5px;
  height: inherit;
  position: absolute;
  width: inherit;
  // background: white;
  background: #FEFFE3; //external: yellowVeryLight
  top: 80px;
  left: 20px;
  margin: 10px;
}

.sidebar-username{
  margin-left: 15px;
  color: #808080;
  font-size: 36px;
  font-weight: bold;
}

.sidebar-useremail{
  margin-left: 15px;
  font-size: 16px;
  color: #9FA800; //yellow dark
}

.user-sidebar-img{
  width: 250px;
  margin: 20px;
  padding: 0px;
  border-style: groove;
  border-width: 5px;
  border-color: #72A000; //greenDark
}

.sidebar-link{
  border-radius: 10px;
  font-family: "Arial";
  padding: 10px;
  text-align: center;
  background: #B401FA; //violetLight
  margin: 25px;
}

.elegent-link-sidebar{
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.elegent-link-sidebar:hover{
  color: #72A000; //greenDark
  text-decoration: none;
}

// User Show Page TrackField CSS

.user-view-normal-trackfield{
  position: absolute;
  top: 80px;
  left: 350px;
  height: inherit;
  width: inherit;
}

// User Show Page TrackTab CSS
.track-tab-img{
  position: absolute;
  height: 75px;
  width: 75px;
  margin: 20px;
  padding: 10px;
  border: 3px solid black;
}

.track-tab-header{
  margin-top: 25px;
  margin-left: 125px;
}

.track-tab-paragraph{
  margin-left: 125px;
}

.single-track-tab{
  border-radius: 5px;
  background: white;
  padding: 20px;
  width: 865px;
  height: inherit;
  margin: 15px;
}

#track-waveform{
  margin-left: 120px;
  width: 680px;
  height: 75px;
}
