// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-form-field{
  color: white;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

// User Show Page SideBar CSS
.user-view-normal-master.row{
  text-align: center;
  padding-left: 25px;
  padding-right: 0px;
}

.user-view-normal-sidebar{
  height: inherit;
  position: absolute;
  width: inherit;
  background: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  opacity: 0.95;
}

.user-view-normal-sidebar .container-fluid{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-view-normal-sidebar:hover {
  box-shadow: 0 0 25px #0ff;
}

.sidebar-datafield > .sidebar-data:first-child{
  border-right: 1px dotted #808080;
}

.sidebar-datafield > .sidebar-data:last-child{
  border-left: 1px dotted #808080;
}

.sidebar-data{
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
}

.sidebar-username{
  margin-left: 20px;
  font-weight: bolder;
}

.sidebar-useremail{
  margin-left: 20px;
}

.user-sidebar-img{
  float: none;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-userbio{
  text-align: left;
  border: 1px solid #808080;
  border-style: dotted;
  padding: 20px;
}

.sidebar-link{
  border-radius: 10px;
  margin: 25px;
}

.elegant-link-sidebar{
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.elegant-link-sidebar:hover{
  color: #72A000; //greenDark
  text-decoration: none;
}

// User Show Page TrackField CSS

.user-view-normal-trackfield{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  height: inherit;
  width: inherit;
}

.user-view-normal-trackfield > .container-fluid{
  width: 90%;
}

// User Show Page TrackTab CSS

.track-tab{
  position: relative;
  background: white;
  text-align: left;
  width: inherit;
  height: inherit;
  margin-bottom: 10px;
}

.track-tab:hover{
  box-shadow: 0 0 30px #0ff;
}

.track-tab > hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.track-tab-image-holder{
  padding: 10px;
  position: absolute;
  top: 15px;
  left: 20px;
  height: 105;
  width: 105;
}

.track-tab-buffer{
  height: 120px;
}

.track-tab-img{
  display: block;
  height: 85px;
  width: 85px;
}

.track-tab-title-holder{
  position: absolute;
  top: 47px;
}

.track-tab-header{
  font-weight: bolder;
  margin-left: 125px;
}

.track-tab-marquee{
  width: 65%;
  margin-left: 130px;
}

.track-field-subinfo-tags{
  border: none;
  font-size: 14px;
  font-weight: bold;

  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 28px;
  background: black;
  color: white;
  margin: 10px;
  margin-left: 5px;
  margin-right: 0px;
  padding: 5px;
  text-align: center;
}

// USER SHOW NEW TRACK CSS

.new-track-form-field{
  height: inherit;
}

.new-track-form {
  margin: 50px;
}

// USER EXPLORE CSS
#see-user-info{
  position: absolute;
  right: 20px;
  top: 20px;
}

#unfollow-user{
  position: absolute;
  right: 115px;
  top: 20px;
}

#follow-user{
  position: absolute;
  right: 115px;
  top: 20px;
}

#track-switch{
  position: absolute;
  width: 80px;
  right: 20px;
  top: 20px;
}

#track-delete{
  position: absolute;
  width: 80px;
  right: 110px;
  top: 20px;
}

#track-edit{
  position: absolute;
  width: 80px;
  right: 200px;
  top: 20px;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

#track-edit:hover {
  background-color: #004600;
}

// USER BIO FORM CSS
.user-bioform {
  width: 100%;
  margin: 0px auto;
}

// USER SEARCH BAR CSS
.search-name-holder{
  display: inline;
}

#click-filter-tab-notice{
  display: inline;
}

#search-field-master{
  background-color: black;
  color: white;
  // height: 50px;
  border-radius: 50px;
  box-shadow: 0 0 10px #0ff;
}

#search-name-field{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 30px;
  border-radius: 50px;
  color: black;
}
