<h1>Timeline Info: &nbsp;&nbsp;&nbsp; <strong><%= Math.floor(audioMaster.currentTime) %></strong>s</h1>
<p>Your comment will be posted at the corresponding place on the timeline. Max length 30 characters.</p>
