<div class="user-view-focus-middle-info">
  <h1><strong>Now Focusing:</strong></h1>
  <h2><%= track.escape('title') %></h2>
  <p><%= track.escape('description') %></p>
</div>

<div class="user-view-focus-middle-showzone">
  <h1>THIS IS THE MIDDLE SECTION!</h1>
  <canvas id="focus-middle-canvas"></canvas>
</div>
