<div class="user-view-focus-middle-info">
  <h1><strong>Now Focusing:</strong></h1>
  <h2><%= track.escape('title') %></h2>
  <p><%= track.escape('description') %></p>
</div>

<div id="user-view-focus-middle-showzone">
  <canvas id="focus-middle-canvas" width="900px" height="250px"></canvas>
</div>
