<div class='track-tab container-fluid' style='text-align:center; border: 1px solid white; padding: 20px;'>
  <h1 style='color:black; text-align:center;'>
    Nothing Here!<br><br>
    <a class="clickable" id="create-a-track">Make a Track</a> <small>OR</small> <a class="clickable" id="explore-artists">Explore Other Creators!</a>
  </h1>
</div>
