<div class='track-tab container-fluid' style='text-align:center; border: 1px solid white;'>
  <h1 style='color:black; text-align:center; font-weight: bold;'>
    Create some tracks or go to explore tab to follow other creators!
  </h1>
</div>
