<div class="track-tab container-fluid" id="search-field-master">
  <div class="search-name-holder">
    <strong>&nbsp; Filter Title or Artist: &nbsp;&nbsp;&nbsp; </strong>
    <input type="text" id="search-name-field" class="form-control" name="thing">
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div id="click-filter-tab-notice">
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Click Genre Tabs to Filter by Genre.</strong>
  </div>
</div>
