<div class="track-tab container-fluid" id="search-field-master">
  <strong>&nbsp;&nbsp; Search Title or Artist: &nbsp;&nbsp;&nbsp;&nbsp; </strong><input type="text" id="search-name-field" class="form-control" name="thing">
</div>
