<div class="track-tab container-fluid" id="search-field-master">
  <strong>&nbsp; Filter Title or Artist: &nbsp;&nbsp;&nbsp; </strong><input type="text" id="search-name-field" class="form-control" name="thing">

  <div class="track-field-subinfo-tags filter-tab" style="background-color: orange;">
    Indie
  </div>
</div>
