<!-- have user passed in -->


<img class="user-sidebar-img" src="<%= currentUserAvatarUrl %>" alt="https://s3.amazonaws.com/soundbolt-appacademy-2015/internal-images/missing.png" />
<hr>
<h1 class="sidebar-username"><%= user.get('username') %></h1>
<p class="sidebar-useremail"><%= user.get('email') %></p>
<hr>
<div><%= user.get('description') %></div>

<a class="btn btn-default btn-lg btn-block" id="display-own-tracks" href="#">My Own Tracks</a></div>
<a class="btn btn-default btn-lg btn-block" id="display-my-streams" href="#">My Streams</a></div>
<a class="btn btn-default btn-lg btn-block" id="create-a-track" href="#">Make new Track</a></div>
<a class="btn btn-default btn-lg btn-block" id="explore-artists" href="#">Explore</a></div>

<hr>
