<div class="container new-track-form-field">
  <form class="new-track-form form-group">


    <!-- t.integer  "user_id"
    t.string   "image_url" -->

    <h1>Make a New Track</h1>

    <br>

    <label for="title_field">Title</label>
    <input type="text" name="track[title]"
           class="form-control" id="title_field">

    <br>

    <label for="description_field">Description</label>
    <input type="text" name="track[description]"
          class="form-control" id="description_field">

    <br>

    <label for="upload-trackfile-button">Choose a Trackfile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <button id="upload-trackfile-button">upload</button>

    <hr>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
