<div class="track-tab panel-body container-fluid new-track-form-field">
  <form class="new-track-form form-group">

    <h1>Make a New Track (This doesn't work)</h1>

    <br>

    <label for="title_field">Title</label>
    <input type="text" name="track[title]"
           class="form-control input-lg" id="title_field">

    <br>

    <label for="description_field">Description</label>
    <input type="text" name="track[description]"
          class="form-control input-lg" id="description_field">

    <br>

    <label for="upload-trackfile-button">Choose a Trackfile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <button id="upload-trackfile-button" class="btn btn-defualt">upload</button>

    <hr>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
