
<img class="track-tab-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Simple_Music.svg/2000px-Simple_Music.svg.png" alt="" />

<h1 class="track-tab-header"><%= track.get('title') %></h1>
<a class="btn btn-warning" href="#">Play Track</a>
<p class="track-tab-paragraph"> <%= track.get('description') %></p>

<hr>
