
<div class="track-tab-image-holder">
  <img class="track-tab-img user-tab-img" src="<%= user.escape('image_url') %>" alt="" />
</div>

<div class="track-tab-title-holder">
  <h1 class="track-tab-header"><a href="#" class="clickable user-tab-username"><%= user.escape('username') %></a></h1>
</div>

<div class="track-tab-buffer"></div>

<marquee class="track-tab-marquee">
  <% if(user.escape('description').length < 1){ %>
    This user didn't add a description.
  <% }else{ %>
    <%= user.escape('description') %>
  <% } %>
</marquee>

<% if(user.follower_ids.indexOf(currentUser.id) !== -1){ %>
  <button class="btn btn-danger spin-button" id="unfollow-user" href="#">
    <a class="clickable-white-inner" href="#">Remove from Stream</a>
  </button>
<% }else{ %>
  <button class="btn btn-primary spin-button" id="follow-user" href="#">
    <a class="clickable-white-inner" href="#">Add to My Stream</a>
  </button>
<% } %>

<button class="btn btn-warning user-tab-info-button" id="track-switch">
  <a class="clickable-white-inner" href="#">Info</a>
</button>

<hr>

<div class="track-field-subinfo-tags">Followers: <%= user.followers_count %></div>
