
<div class="track-tab-image-holder">
  <img class="track-tab-img" src="<%= user.escape('image_url') %>" alt="" />
</div>

<div class="track-tab-title-holder">
  <h1 class="track-tab-header"><%= user.escape('username') %></h1>
</div>

<div class="track-tab-buffer"></div>

<marquee class="track-tab-marquee">
  <% if(user.escape('description').length < 1){ %>
    This user didn't add a description.
  <% }else{ %>
    <%= user.escape('description') %>
  <% } %>
</marquee>

<% if(user.follower_ids.indexOf(currentUser.id) !== -1){ %>
  <a class="btn btn-danger" id="unfollow-user" href="#">Remove from Stream</a>
<% }else{ %>
  <a class="btn btn-primary" id="follow-user" href="#">Add to My Stream</a>
<% } %>

<a class="btn btn-warning" id="track-switch" href="#">Info</a>

<hr>

<div class="track-field-subinfo-tags">Followers: <%= user.followers_count %></div>
