<img class="track-tab-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Simple_Music.svg/2000px-Simple_Music.svg.png" alt="" />

<h1 class="track-tab-header"><%= user.get('username') %></h1>


<p class="track-tab-paragraph">
  <% if(user.escape('description').length < 1){ %>
    This user didn't add a description.
  <% }else{ %>
    <%= user.escape('description') %>
  <% } %>
</p>

<% if(user.follower_ids.indexOf(currentUser.id) !== -1){ %>
  <a class="btn btn-danger" id="unfollow-user" href="#">Remove from Stream</a>
<% }else{ %>
  <a class="btn btn-primary" id="follow-user" href="#">Add to My Stream</a>
<% } %>

<a class="btn btn-warning" id="see-user-info" href="#">See Info</a>

<hr>

<div class="track-field-subinfo-tags">Followers: <%= user.followers_count %></div>
